.aboutUs_container {
    background-color: #f6f6f6;
    width: 100vw;
}

.about_us_details_component {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10vw 10vw 0;
}

.title {
    border-left: 10px solid #ff7043;
    color: #000;
    font-size: 4vw;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 5vw;
    padding-left: 3vw;
}

.subtext {
    color: #000;
    font-size: 3vw;
    font-style: normal;
    font-weight: 400;
}

.brand_name {
    font-weight: 600;
}

.about_us_bg {
    margin-top: 5vw;
    object-fit: contain;
    width: 100%;
}

.about_us_investor {
    padding: 15vw 10vw 10vw;
}

.title {
    border-left: 15px solid #2d66f5;
    color: #000;
    font-size: 4vw;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 5vw;
    padding-left: 5vw;
}

.brands_container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
}

.brand_image {
    margin: 1vw;
    object-fit: contain;
    width: 20vw;
}