.navbar_container{
  align-items: center;
  background-color: #fff;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 30px;
  position: absolute;
  z-index: 1;
}



.navabr_div {
  position: absolute;
  display: block;
}


