.outletPage_container {
    align-items: center;
    height: auto;
    justify-content: center;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30vw 20vw 0;
}

.title_heading {
    color: #000;
    font-size: 3vw;
    font-weight: 700;
    text-align: center;
}

.title_subheading {
    color: #ff7043;
    font-size: 2vw;
    font-weight: 500;
    margin-top: 20px;
    text-align: center;
}

.image_container {
    align-items: center;
    display: flex;
    height: 80vh;
    justify-content: center;
    margin: 0;
    width: 100vw;
}

.image_icon {
    height: 100%;
    object-fit: contain;
    width: 100%;
}