.page6_container {
    align-items: center;
    background-color: #fff;
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    justify-content: space-between;
    padding: 0 10vw;
}

.features_img_container {
    padding: 0 0 20vw;
}

.features_img_icon {
    height: auto;
    object-fit: contain;
    width: 80vw;
}

.page6_text_container {
    padding: 20vw 0 10vw;
}

.page_title_container {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.page_title_icon_container {
    align-items: center;
    background-color: #ebf1ff;
    border-radius: 50%;
    display: flex;
    height: 9vw;
    justify-content: center;
    margin: 20px 0;
    width: 9vw;
}

.page_title_icon {
    display: flex;
    height: 5vw;
    resize: horizontal;
    width: 5vw;
}

.title {
    font-size: 4vw;
    font-weight: 700;
}

.subtitle {
    font-size: 3vw;
    font-weight: 500;
    margin-top: 30px;
}

