.revenue_container {
    padding: 45vw 0 5vw;
    width: 100vw;
}

.revenue_inner_container {
    background: #161926;
    border-radius: 10px;
    box-shadow: 50px 50px 50px rgb(0 0 0 / 15%);
    margin: 0 5vw;
    padding: 5vw;
}

.revenue_title {
    color: #fff;
    font-size: 6vw;
    font-style: normal;
    font-weight: 700;
    text-align: center;
}

.revenue_subtext {
    color: #fff;
    font-size: 4vw;
    font-style: normal;
    font-weight: 500;
    margin: 5vw 0 16vw;
    text-align: center;
}

.revenue_states_box {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 10vw 0;
}

.revenue_state_value {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(90deg,#ff7043 8%,#2d66f5 70%);
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 18vw;
    font-style: normal;
    font-weight: 700;
}

.revenue_state_subtext {
    color: hsla(0,0%,100%,.5);
    font-size: 4vw;
    font-style: normal;
    font-weight: 500;
    margin: 3vw 0;
}

.revenue_state_title {
    color: #fff;
    font-size: 6vw;
    font-style: normal;
    font-weight: 700;
}

.revenue_up_arrow {
    bottom: 5vw;
    left: 0;
    position: absolute;
    width: 20vw;
    z-index: -1;
}